<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1 style="position: absolute; left: 500px; top: 200px;font-size: 50px; font-family: Arial, Helvetica, sans-serif;"><%= title %> Me</h1>
    
    </div>
    <div class="home-img">
        <img style="position: absolute;left: 150px; top: 300px; border-radius: 20px;" src="/img/profilepic.jpg" alt="pic" height="400px" width="320px"/>
    </div>
    <div  class="aboutcontent" style="position: absolute;left: 500px;top: 300px;">
        <h2>Hi, I am Nguyen Manh Phat</h2>
        <h3>Software technician</h3>
        <p>I come from Vietnam. I am learning at Centennial College. I love challange and travel around the world. </p>
        <p>The project that I am researching on is how to combine finance and technology to reach users as easily and conveniently as possible.</p>
        <p>In addition, I am also building a lottery game application that lottery people can play every day.</p>

        <a href="/contact" class="btn" > Press more !</a>
        
    </div>
   
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   