<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1 style="position: absolute;margin-left: 500px;margin-top: 100px;">Welcome to <%= title %> Page</h1>
    </div>

    <div  class="homecontent" style="position: absolute;left: 400px;top: 300px;">
        
        <h2>This is my Assignment 1. This is about create Express portfolio site with five different pages including Home, About, Contact, Product and Services</h2>
        

        <a href="/about" class="btn" style="margin-left: 200px;"> Next Page</a>
        
    </div>


</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   