<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

    <h1>Welcome to <%= title %> Page</h1>
    </div>

    
    <a href="/contact" class="btn" style="position: absolute; margin-left: 400px;margin-top: 50px;" > Back to Contact Page</a>

    
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   